.nice-padding {
    padding-inline-start: 50px;
    padding-inline-end: 50px;
}

.block_container {
    display: block;
    margin-top: 30px;
}

.block_container .block {
    display: block;
    float: inline-start;
    box-sizing: border-box;
    position: relative;
    width: calc(50% - 10px);
    min-height: 216px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid var(--w-color-border-furniture);
    border-radius: 3px;
    background-color: var(--w-color-surface-page);
    box-shadow: 0 1px 3px rgba(0,0,0,0.00), 0 1px 2px rgba(0,0,0,0.00);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1), border 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}

.block_container .block--disabled h2,
.block_container .block--disabled .inspect_container {
    opacity: 0.5;
}

    .block_container .block h2 {
        display: inline-block;
        width: auto;
    }

.block_container .block:nth-child(odd) {
    margin-inline-end: 20px;
}

    .block_container .block .block_actions {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .block_container .block .block_actions li {
            float: inline-start;
            margin-inline-end: 10px;
        }

        .block_container .block .block_actions li:last-child {
            margin-inline-end: 0;
        }

.block_container .block.suggestion {
    border-style: dashed;
}

.block_container .block:hover {
    border: 1px solid transparent;
    box-shadow: 0 3px 6px var(--w-color-box-shadow-md), 0 3px 6px var(--w-color-box-shadow-md);
}

@media (max-width: 699px) {
    .block_container .block {
        width: 100%;
        margin-inline-end: 0;
    }
}

.block_container .block .inspect_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 10px;
}

.block_container .block .inspect_container .inspect {
    display: block;
    float: inline-start;
    width: calc(50% - 10px);
    padding: 0;
    margin: 0;
    list-style: none;
    .stat_card {
        display: inline-block;
        margin-bottom: 5px;
        margin-inline-end: 10px;
    }
}

    .block_container .block span.icon::before {
        margin-inline-end: 0.3em;
        vertical-align: bottom;
    }

    .block_container .block .inspect_container .inspect li span {
        display: block;
        font-size: 20px;
        font-weight: bold;
        margin: 5px 0;
        overflow-wrap: break-word;
    }

    .block_container .block .inspect_container .inspect li pre {
        position: relative;
        box-sizing: border-box;
        width: auto;
        background-color: var(--w-color-surface-field-inactive);
        border: 1px solid var(--w-color-border-field-default);
        margin: 5px 0 5px 21px;
        padding: 2px 5px;
        word-wrap: break-word;
        word-break: break-all;
        border-radius: 3px;
    }

.block_container .block.suggestion .suggestive_text {
    display: block;
    position: absolute;
    width: calc(100% - 40px);
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
